<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- definice pi pro rpy -->
    <xacro:property name="pi" value="3.14159265359"/>

    <!-- camera joint -->
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
    </joint>

    <!-- camera link -->
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.01 0.03 0.03"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <!-- optical joint -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"/>

    <!-- Gazebo sensor -->
    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <sensor name="camera" type="depth">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_depth_camera.so">
                <ros>
                    <namespace>/camera</namespace>
                </ros>
                <camera_name>camera</camera_name>
                <frame_name>camera_link_optical</frame_name>
                <update_rate>10.0</update_rate>
                <depth_image_topic>depth/image_raw</depth_image_topic>
                <depth_camera_info_topic>depth/camera_info</depth_camera_info_topic>
                <point_cloud_topic>depth/points</point_cloud_topic>
            </plugin>
        </sensor>
    </gazebo>

</robot>
